<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AirLines!</title>
</head>
<body>
<h4> Greate Flight! </h4>
<form action="airlines" method="post">
    {% csrf_token %}
    <div class="container">
        <label for="username"><b>AirCommpany</b></label>
        <input type="text" name="aircommpany" placeholder="AirCommpany" required>
        <br>
        <br>
        <label for="username"><b>DeparturePoint</b></label>
        <input type="text" name="adress_airoport" placeholder="Adress_Airoport" required>
        <br>
        <br>
        <label for="username"><b>ArrivalPoint</b></label>
        <input type="text" name="adress_airoporte" placeholder="Adress_Airoport" required>
        <br>
        <br>
        <button type="submit">Greate Flight!</button>
    </div>
    {% for item in airlines_data %}
        <p>{{item.id }} - commpany: {{item.AirCommpany }} - airport: {{ item.DeparturePoint }} -> airport: {{ item.ArrivalPoint }} - {{ item.Distance }}ML - status: {{item.AirFlight_status }} - type: {{ item.AirFlight_type }} - weather: {{ item.Weather }} - description: {{ item.Description_weather }}</p>
    {% endfor %}
</form>
</body>
</html>